*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body{
    background: #f1f1f1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    min-width: 1000px;
    width: 100vw;  
    top:0px;
    height: 100px;
    padding: 50px ;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    background: #f1f1f1;  
    z-index: 2;
}
.blog-logo{
    height: 50px;
    width: 50px;
    margin: 0 30px;
    cursor: pointer;
}
.name{
    font-family: sriracha, cursive;
    font-size: 30px;
    font-weight: 800;
    color: #333;
    margin: 0 20px;
}
.menu{
    width:40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__label{
    list-style: none;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;

}

.menu__label__selector{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: transparent;
    margin-bottom: 10px;
}
.menu__label a{
    text-decoration: none;
    color: #333;
    font-family: monda, sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
}
.menu__label a:hover + .menu__label__selector{
    background: linear-gradient(to left, hsla(241, 25%, 58%, 1) 0%,hsla(9, 79%, 79%, 1) 100%);
}
.contact-btn{
    font-size: 20px;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, hsla(241, 25%, 58%, 1) 0%,hsla(9, 79%, 79%, 1) 100%);
    margin: 0 50px 0 auto;
    padding: 10px 20px;
}
.contact-btn a {
    text-decoration: none;
    font-family: monda, sans-serif;
    font-weight: 700;
    color: #333;
}
.contact-btn:hover{
    background: linear-gradient(to left, hsla(241, 25%, 58%, 1) 0%,hsla(9, 79%, 79%, 1) 100%);
}
.contact-btn a:hover{
    color:#f1f1f1;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
}
.entrance{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);

}
.info-photo{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 5px 11px hsla(0, 0%, 20%, 0.3); 
    z-index: 1;
}
.info-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.bulle-logo{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10% 0 5%;
    width: auto;
    height: 100%;
}
.logo-btn{  
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 30% 0;
    background: linear-gradient(to left, hsla(241, 25%, 58%, 1) 0%,hsla(9, 79%, 79%, 1) 100%);
}
.logo-bg{
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
    width: 45px;
    height: 45px;
    transform: translateY(5%);
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10% 0;

}
.intro h1{
    font-family: monda, sans-serif;
    color: #333;
    font-size: 30px;
}
.about_me{
    padding: 5%;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    text-align: center;

}
h2{
    font-family: sriracha, cursive;
    color: #333;
    font-size: 3rem;
}
.about_me p{
    font-family: monda, sans-serif;
    font-size: 1.7rem;
    color: #333;
    padding: 3%;

    
}